.background-site {
    background: var(--cormenu);
}

.topo {
    position: relative;
    z-index: 1;
    height: 10rem;
}

.topo-wrap {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: black;
    padding: .8rem;
}

.titulo {
    font-weight: 800;
    font-size: 3rem;
    margin: auto;
    padding-top: 15px;
    max-width: 100%;
    width: 100%;
    text-align: center;
}


.introducao {
    font-family: 'Open Sans', sans-serif;
    line-height: 3rem;
    font-size: 2rem;
    color: black;
    text-align: justify;
    padding: .8rem;
    margin: 0.8rem;
}



.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .button {
    flex-grow: 1;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--cormenu);
    color: #fff;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    max-width: 200px;
  }
  
  .button:last-child {
    margin-right: 0;
  }
  
  @media (min-width: 768px) {
    .button {
      max-width: none;
    }
  }
  



        
        /* Estilos para o subtítulo */
        .titulo_1 {
          display: block;
          text-align: center;
          padding: 16px 32px;
          background: var(--cormenu);
          color: black;
          border-radius: 8px;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          font-family: 'candara' sans-serif;
          font-size: 1.6rem;
          line-height: 1.33;
          font-weight: bold;
          letter-spacing: 2px;
          text-transform: uppercase;
          width: 100%;

        }



        .subtitulo {
          display: inline-flex;
          text-align: center;
          align-items: center;
          justify-content: center;

          padding: 16px 32px;
          margin-top: 20px;
          background: var(--corverde);
          color: black;
          border-radius: 8px;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          font-family: 'candara' sans-serif;
          font-size: 1.6rem;
          line-height: 1.33;
          font-weight: bold;
          letter-spacing: 2px;
          text-transform: uppercase;
        }

        .video_ {
          position: relative;
          overflow: hidden;
          padding-bottom: 56.25%; /* proporção 16:9 (360/640) */
          width: 100%; /* largura do container */
        }
        
        .video_ iframe {
          padding-top: 3rem;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%; /* ocupar 100% da largura do container */
          height: 100%; /* ocupar 100% da altura do container */
        }
        
        /* Media query para telas com largura máxima de 768 pixels (por exemplo, dispositivos móveis) */
        @media (max-width: 768px) {
          .video_ {
            padding-bottom: 75%; /* proporção 4:3 (360/480) */
          }
        }

