:root {
    font-size: 62.5%; /*10px*/
    --corverde: #13524b;
    --corcinza: #cccbcb;
    --cormenu: #1f887b;
}

.container {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, h1, h2, p, a, strong, footer, header, button, video {
    padding: 0;
    border: none;
    margin: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}


html {
    width: 100%;
    height: 100%;
  }
  
a {
    text-decoration: none;
    cursor: pointer;
}

body {
    width: 100%;
    min-width: 320px;
    min-height: 100%;
    overflow-x: hidden;
    background: #fff;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1;
    word-wrap: break-word;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
  
button {
    cursor: pointer;
}

button:active,
button:focus {
    box-shadow: none;
    outline: none;
}

/*HEADER*/

.header {
    background: black;    
}

.header_topo {
    display: flex;
    justify-content: space-between;
}

.header_topo img {
    width: 12rem;
    height: 100%;
    padding: 0.8rem;
    margin: 0.8rem 0.8rem 0.8rem 5rem  ;
}

.header_topo h1 {
    color: var(--corcinza);
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 5rem;
}

/* ESTILO RESPONSIVO HEADER */

@media all and (max-width: 768px){
    .header_topo img {
    width: 8rem;
    height: 100%;
    padding: 0.8rem;
    margin: 0.8rem;
}
    .header_topo h1 {
    font-size: 2.5rem;
    margin-right: 0.8rem;
}

}

/*TEXTO DE INTRODUÇÃO */

main {
    background: var(--corcinza);
    margin: 0px;
    padding: 0rem 1.5rem 3rem 1.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
}
.introducao {
    
    font-family: 'Open Sans', sans-serif;
    line-height: 3rem;
    font-size: 2rem;
    color: black;
    text-align: justify;
    padding: 0.8rem;
    margin: 0.8;
    
}

.titulo{
    display: block;
    text-align: center;
    padding: 16px 32px;
    background: var(--cormenu);
    color: black;
    font-family: 'open sans' sans-serif;
    font-size: 1.6rem;
    line-height: 1.33;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

 button {
    color: black;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    background: var(--cormenu);
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    padding: 14px 32px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin: 2rem auto 2rem auto;
    text-transform: uppercase;

  }
  
  button:hover {
    background: var(--corverde);
    color: #fff;
  }

  .video_eps {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%; /* proporção 16:9 (360/640) */
    width: 100%; /* largura do container */
    margin-bottom: 3rem;
  }
  
  .video_eps iframe {
    padding-top: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* ocupar 100% da largura do container */
    height: 100%; /* ocupar 100% da altura do container */
  }
  
  /* Media query para telas com largura máxima de 768 pixels (por exemplo, dispositivos móveis) */
  @media (max-width: 768px) {
    .video_eps {
      padding-bottom: 75%; /* proporção 4:3 (360/480) */
      margin-bottom: 1rem;
    }
  }


  .footer {
    background-color: black;
    padding: 20px 0;
    text-align: center;
    display: flex;
}

.footer-contato {
    font-size: 14px;
    color: #555;
    font-family: 'Open Sans', sans-serif;
    line-height: 3rem;
    font-weight: 700;
}


/* Estilos responsivos para o footer em dispositivos móveis */


@media all and (max-width: 768px){
    .footer .footer-contato {
    text-align: center;
}


}